

###############################
## VS Code ####################
###############################
.vscode/
logs/*

##############################################################
## Java ######################################################
##############################################################
*.class
*.ctxt

###############################
## Package Files ##############
###############################
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

###############################
## LOGS #######################
###############################
hs_err_pid*

###############################
## Maven ######################
###############################
.mvn/
${sys:jarvis.configuration.directory}
null/


##############################################################
## IDEs ######################################################
##############################################################

###############################
## STS ########################
###############################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

###############################
## NetBeans ###################
###############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

###############################
## Intellij ###################
###############################
**/.idea/**
.idea
*.iml
*.iws
*.ipr
*.ids
*.orig

###############################
## Eclipse ####################
###############################
.settings/
.settings/*
/target/
target/
target/*
.project
.classpath
.tern-project
.metadata/

###############################
## RTC ########################
###############################
.jazz5/
.jazzShed/



##############################################################
## OSs #######################################################
##############################################################

###############################
## MAC ########################
###############################
.DS_Store